@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #111111;
  border-radius: 20px;
}
.scroll-bar::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
}
